@charset "utf-8";
/* reset.css */
body{
	overflow-y:visible !important;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:moz-none;
	user-select:none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body * {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

/** html4 reset **/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
fieldset, img {
	border:0 none;
}
address, caption, cite, code, dfn, em, th, var, b,h1,h2,h3 {
	font-style:normal;
	font-weight:normal;
}

ol, ul, li {
	list-style-type:none
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
th,td,caption{
	vertical-align:top;
	text-align:left;
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="tel"],
input[type="radio"],
input[type="checkbox"],
button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius:0; -webkit-border-radius:0; border-radius:0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
img {
	vertical-align:middle;
	font-size:0;
	max-width: 100%;
}
h1,h2,h3,h4,h5,h6{font-weight: normal;}

/** html5 reset **/
header, footer, section, nav, menu, details, hgroup, figure, figcaption, article, aside {
	margin:0;
	padding:0;
	display:block;
}
::-moz-placeholder,
::-webkit-input-placeholder {
    color:#ccc;
}
a {
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
a:hover{opacity:1};

.clear {clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.clearfix:after {clear:both;content:"";display:block;font-size:0;height:0;visibility:hidden;}
.clearfix{zoom:1;}

/** Body, links, basics **/
body,html{
	width: 100%;
	height: 100%;
	font-size: 100px;
	overflow-x: hidden;
	/*-webkit-overflow-scrolling:touch;*/
}
body {
	font-size:0.14rem;
	line-height: 1.8;
	font-family:-apple-system-font, "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	color:#000;
}
input{ outline: none;}
/*article{
   
    
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-backface-visibility: hidden;
    -moz-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
}*/


/* 布局grid */
section.main {
    position: relative;
}
section.main.fixed {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #f5f5f5;
}
section.main.fixed > article {
	-moz-box-flex:1;
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
    overflow-x: hidden;
    overflow-y: auto;
    height:100%;
    -webkit-overflow-scrolling:touch;
    position: relative;
}


/*
** border_1px
** created by molan
*/

.m_border {
  position:relative;
  border:none!important
}
.m_border:after {
  content:'';
  position:absolute;
  box-sizing:border-box;
  border-width:0;
  border-style:solid;
  border-color:#f2f2f2;
  pointer-events:none
}
.m_border_all:after {
  border-width:1px;
  width:200%;
  height:200%;
  top:0;
  left:0;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
}
.m_border_top:after {
  border-top-width:1px;
  width: 100%;
  height: 1px;
  -webkit-transform:scaleY(.5); 
  transform:scaleY(.5);
  top:0;
  left:0;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
}
.m_border_left:after {
  border-left-width:1px;
  width: 1px;
  height: 100%;
  -webkit-transform:scaleX(.5); 
  transform:scaleX(.5);
  top:0;
  left:0;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
}
.m_border_right:after {
  border-right-width:1px;
  width: 1px;
  height: 100%;
  -webkit-transform:scaleX(.5); 
  transform:scaleX(.5);
  top:0;
  right:0;
  -webkit-transform-origin:100% 0;
  transform-origin:100% 0;
}
.m_border_bottom:after {
  border-bottom-width:1px;
  width: 100%;
  height: 1px;
  -webkit-transform:scaleY(.5); 
  transform:scaleY(.5);
  bottom:0;
  left:0;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
}

/* 通用样式  */
input,textarea{border: none}
.hidden { display:none; }
.block { display:block; }
.inline-block { display:inline-block; }
.bgf{background: #fff !important}
.mt0{margin-top: 0 !important}
.mt10{margin-top: 0.1rem}
.mt15{margin-top: 0.15rem}
.mt30{margin-top: 0.3rem}
.mb0{margin-bottom: 0 !important}
.pt0{padding-top: 0 !important}
.pb0{padding-bottom: 0 !important}
.pl15{padding-left: 0.15rem !important}
.plr15{padding-left: 0.15rem; padding-right: 0.15rem;}
.pb15{padding-bottom: 0.15rem;}
.fl { float: left; }
.fr {float: right;}
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.red{color: #FF4C4C !important}
.green{color: #65A123 !important}
section.main.fixed.bgf{background: #fff;}
.boost {
	-webkit-overflow-scrolling:touch;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
	-moz-backface-visibility:hidden;
	-moz-perspective:1000;
	backface-visibility:hidden;
	perspective:1000;
}
.com_btn{
	display: block;
	background: #3B86E7;
  border:1px #3B86E7 solid;
	border-radius: 0.05rem;
	height: 0.45rem;
	line-height: 0.43rem;
	color: #fff;
	font-size: 0.18rem;
	text-align: center;
}
.com_btn.disabled{
	opacity: 0.44;
}
.com_tit{
  line-height: 0.24rem;
  padding: 0.15rem;
}
.com_tit.pb0 {
  padding-bottom: 0;
}
.com_tit b {
  font-size: 0.18rem;
  color: #000;
  font-weight: bold;
}
.com_tit span{
  color:#999;
  display:inline-block;
  margin-left:0.08rem;
  font-size: 0.14rem;
  font-weight:normal;
  vertical-align: top;
}
.com_tit span.quote {
  width: 0.18rem;
  height: 0.24rem;
  background: url(../images/icon_quote3.png) no-repeat center;
  background-size: 0.14rem;
}
.com_tit span.sj_right{
  float: right;
  height: 0.24rem;
  padding-right: 0.17rem;
  background: url(../images/horn_rt2.png) no-repeat right center;
  background-size: 0.08rem;
}
.sj_more{
  display: block;
  height: 0.2rem;
  background-size: 0.16rem auto;
  margin-top: 0.1rem;
}
.sj_more:before{
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -0.05rem;
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
   border-bottom: 1px #333 solid;
  border-left: 1px #333 solid;
  transform: rotate(-45deg);
}

/* 弹窗Dialog */ 
.ui.dialog-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 101;
    display: block;
}
.ui.dialog {
    width: 90%;
    word-break: break-all;
    z-index: 10001;
    text-align: center;
    background: #FFFFFF;
    -moz-border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.1rem;
    position: fixed;
    z-index: 6000;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.ui.panelbox{
  height: 100%;
  position: absolute;
  top: 0;
  overflow: auto;
  width: 88%;
  background: #fff;
  z-index: 2000;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #333;
}
.ui.panelbox.right_panel{
  display: block;
  right: 0;
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
}
.ui.panelbox.right_panel.active{
  transform: translate3d(0 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.com_tk_main{
  padding:0.3rem 0.2rem;
}

.com_tk_main .tit {
  line-height: 0.2rem;
  font-size: 0.16rem;
  font-weight: bold;
  color: #000;
}
.com_tk_main h3{
  font-size: 0.18rem;
  line-height: 0.18rem;
  font-weight: bold;
}
.com_tk_main h4{
  font-size: 0.18rem;
  line-height: 0.24rem;
  margin-bottom: 0.1rem;
}
.com_tk_main p.p1{
  font-size: 0.14rem;
  color: #666;
  line-height: 0.2rem;
  text-align: left;
}
.com_tk_main p.p2 {
  line-height: 0.25rem;
  font-size: 0.18rem;
  color: #666;
  padding-top: 0.3rem;
}
.com_tk_main p.p3 {
  line-height: 0.24rem;
  font-size: 0.16rem;
  color: #666;
  text-align: left;
  padding: 0 0.25rem;
}
.com_tk_main .cont {
  line-height: 0.24rem;
  color: #666;
  font-size: 0.14rem;
  text-align: left;
}
.com_tk_main .cont p b {
  font-weight: bold;
}
.tk_btnbox{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.tk_btn{
   -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  display: block;
  height: 0.54rem;
  line-height: 0.54rem;
  text-align: center;
  color: #3B86E7;;
  font-size: 0.18rem;
}
.tk_btn.m_border:after{
  border-color: #e5e5e5;
}
.tk_btn.cancel{
  color: #999;
}
/**swiper***/
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
 }

 /**switch**/
 .ui.switch {
  height:0.3rem;
  width:0.6rem;
  position:relative;
  overflow:hidden;
}
.ui.switch > input[type=checkbox] {
  width:0.6rem;
  height:0.3rem;
  position:absolute;
  left:0;
  top:0;
  -moz-opacity:0;
  -webkit-opacity: 0;
  opacity: 0;
  cursor:pointer;
  z-index:100;
}
.ui.switch > .ui.switch-inner {
  height:0.3rem;
  position:relative;
  background:#CCCCCC;
  -moz-border-radius:0.3rem; -webkit-border-radius:0.3rem; border-radius:0.3rem;
}
.ui.switch > .ui.switch-inner > .ui.switch-btn {
  height:0.3rem;
  width:0.6rem;
    position:absolute;
    left:0;
    top:0;
    z-index:5;
}
.ui.switch > .ui.switch-inner > .ui.switch-btn span {
  width:0.6rem;
  height:0.3rem;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  font-size:0.12rem;
  text-indent:-30rem;
  -moz-border-radius:0.3rem; -webkit-border-radius:0.3rem; border-radius:0.3rem;
  overflow: hidden;
    transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -webkit-transition: all 0.2s ease-in 0s;
    opacity:0;
    transform:scale(0.5);
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    position:absolute;
    left:0;
    top:0;
}
.ui.switch > .ui.switch-inner > .ui.switch-btn .active {
  background:#1098ED;
}
.ui.switch > .ui.switch-inner > .ui.switch-arrow {
  height:0.26rem;
  width:0.26rem;
  background:#FFFFFF;
  position:absolute;
  top:0.02rem;
  right:0.32rem;
  -moz-border-radius:100%; -webkit-border-radius:100%; border-radius:100%;
  transition: all 0.1s ease-in 0s;
  -moz-transition: all 0.1s ease-in 0s;
  -webkit-transition: all 0.1s ease-in 0s;
  z-index:10;
}
.ui.switch > input[type=checkbox]:checked + .ui.switch-inner > .ui.switch-btn .active {
  opacity:1;
    transform:scale(1);
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
}
.ui.switch > input[type=checkbox]:checked + .ui.switch-inner .ui.switch-arrow {
  right: 0.02rem;
}
/* iphone 5 */
@media (min-device-width : 320px) and (max-device-width : 360px) and (-webkit-min-device-pixel-ratio : 2) {
  html {
      font-size: 85.4px;
  }
}

 
/* @media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3) {
    html {
        font-size: 129.375px;
    }
}  */


.vjs-poster {
	background-size: cover;
}
.content_text_family{
  font-family: arial;
}

.coupon-tip-icon{
  
}
